In [23]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [24]:
df = pd.read_csv('adult.data.csv', header=None, sep=', ')
names = \
['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']
names = pd.Series(names)
df = df.rename(names, axis=1)

In [14]:
#What is the average age (age feature) of women? 
sex = df[['age', 'sex']].groupby(['sex']).mean()

#How many men and women (sex feature) are represented in this dataset?
sex['cnt'] = df.sex.value_counts()
sex

              age    cnt
sex
Female  36.858230  10771
Male    39.433547  21790

In [15]:
#What is the percentage of German citizens (native-country feature)? 
pct_German = pd.get_dummies(df)['native-country_Germany'].sum() / pd.get_dummies(df)['native-country_Germany'].count()
pct_German

0.004207487485028101

In [16]:
#What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?
df[['age','salary']][df['salary']=='>50K'].describe().loc[['std', 'mean']]

            age
std   10.519028
mean  44.249841

In [17]:
#What are the mean and standard deviation of age for those who earn less than 50K per year?
df[['age','salary']][df['salary']=='<=50K'].describe().loc[['std', 'mean']]

            age
std   14.020088
mean  36.783738

In [18]:
#Is it true that people who earn more than 50K have at least high school education? 
#(education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature) 
df['higher_education'] = df.education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 
                                            'Assoc-voc', 'Masters', 'Doctorate']).astype('int')
pd.crosstab(df['higher_education'], df['salary'], margins=True)

salary            <=50K  >50K    All
higher_education
0                 18739  3306  22045
1                  5981  4535  10516
All               24720  7841  32561

In [19]:
#Find the maximum age of men of Amer-Indian-Eskimo race.
df[['age','race']][df['race']=='Amer-Indian-Eskimo'].age.max()

82

In [20]:
#Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? 
#Consider as married those who have a marital-status starting with Married 
#(Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.
df['married'] = df['marital-status'].isin(['Married-civ-spouse', 
                                           'Married-spouse-absent', 
                                           'Married-AF-spouse']).astype('int')
pd.crosstab(df['married'], df['salary'], margins=True)

salary   <=50K  >50K    All
married
0        16039  1105  17144
1         8681  6736  15417
All      24720  7841  32561

In [21]:
#What is the maximum number of hours a person works per week (hours-per-week feature)? 
#How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
max_hour_workers = df[df['hours-per-week']==df['hours-per-week'].max()]['salary']
max_hour_workers.value_counts() / max_hour_workers.count()

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [22]:
#Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) 
#for each country (native-country). What will these be for Japan? 
avg_time_work = df[['native-country', 'salary', 'hours-per-week']] \
                .groupby(['native-country','salary'], as_index=False).mean()
avg_time_work[avg_time_work['native-country'] =='Japan']

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333